@import '../../../../styles/variables.scss';

.container {
  margin: $space-sm;
  padding: $space-sm;
  border: $border-1;
  border-color: $border-color;
  border-radius: $radius-2;
  background-color: $bg-color2;
  display: flex;
  justify-content: space-evenly;
  gap: $space-sm;
}